<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Register</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}">


</head>

<body>
    
    <iframe frameborder="0" style="height:800px;width:99%;border:none;" src='https://forms.zohopublic.in/aicnitf/form/StartupIncubationApplicationForm/formperma/2GWvD0VTFRtDDDk2aXQkZbCwP7zcdYufOYrlk2wx3GI'></iframe>
</body>

</html>