<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/startup.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">

    <!-- Custom fonts for this template-->
    <link href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/blog_css.css' %}">
    {% block css %}{% endblock %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-home"></i>
                </div>
                <div class="sidebar-brand-text mx-3">AIC-NITF</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li id="dashboard" class="nav-item active check">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            {% if user.is_superadmin %}
            <!-- Heading -->
            <div class="sidebar-heading">
                Report
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li id="admin" class="nav-item check">
                <a class="nav-link" href="{% url 'admin_form' %}" data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-paste"></i>
                    <span>Create Admin</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li id="startup" class="nav-item check">
                <a class="nav-link collapsed" href="{% url 'startup_form' %}" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-sticky-note"></i>
                    <span>Create Start-Up</span>
                </a>
            </li>

            <li id="sanvriddhi" class="nav-item check">
                <a class="nav-link collapsed" href="{% url 'sanvriddhi_nomination' %}" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-sticky-note"></i>
                    <span>Create Sanvriddhi Account</span>
                </a>
            </li>

            <li id="ideanest" class="nav-item check">
                <a class="nav-link collapsed" href="{% url 'ideanest_nomination' %}" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-sticky-note"></i>
                    <span>Create Ideanest Account</span>
                </a>
            </li>
            {% endif %}

            <li id="blogPost" class="nav-item check">
                <a class="nav-link collapsed" href="{% url 'blogPost' %}" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-blog"></i>
                    <span>Blog Post</span>
                </a>
            </li>
            {% if user.is_superadmin %}
            <li id="queries" class="nav-item check">
                <a class="nav-link collapsed" href="{% url 'queries' %}" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-blog"></i>
                    <span>Queries</span>
                </a>
            </li>
            {% endif %}

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->


                        <!-- Nav Item - Alerts -->


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow float-right ">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}</span>
                                {% for imgsrc in  user.admin_set.all %}
                                <img class="img-profile rounded-circle" src="{{imgsrc.admin_img.url}}">
                                {% endfor %}
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'userprofile' pk=user.pk %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                    </div>

                    <!-- Content Row -->
                    {% block content %}{% endblock %}


                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Your Website 2020</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap core JavaScript-->
            <script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

            <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->

            <!-- Core plugin JavaScript-->
            <script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

            <!-- Custom scripts for all pages-->
            <script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>

            <script>
                var value = {}
                $(".check").click(function () {
                    var colorClass = $(this).attr('id');
                    
                    localStorage.setItem('val', colorClass);
                });
                value = localStorage.getItem('val');
                var act = document.getElementById(value);
                if (value == 'admin') {
                    var act1 = document.getElementById("dashboard");
                    var act2 = document.getElementById("startup");
                    var act3 = document.getElementById("blogPost");
                    var act4 = document.getElementById("queries");
                    act.classList.add("active");
                    act1.classList.remove("active");
                    act2.classList.remove("active");
                    act3.classList.remove("active");
                    act4.classList.remove("active");
                    localStorage.clear()
                }
                else if (value == 'startup') {
                    var act1 = document.getElementById("dashboard");
                    var act2 = document.getElementById("admin");
                    var act3 = document.getElementById("blogPost");
                    var act4 = document.getElementById("queries");
                    act.classList.add("active");
                    act1.classList.remove("active");
                    act2.classList.remove("active");
                    act3.classList.remove("active");
                    act4.classList.remove("active");
                    localStorage.clear()
                }
                else if (value == 'dashboard') {
                    var act1 = document.getElementById("admin");
                    var act2 = document.getElementById("startup");
                    var act3 = document.getElementById("blogPost");
                    var act4 = document.getElementById("queries");
                    act.classList.add("active");
                    act1.classList.remove("active");
                    act2.classList.remove("active");
                    act3.classList.remove("active");
                    act4.classList.remove("active");
                    localStorage.clear()
                }
                else if (value == 'blogPost') {
                    var act1 = document.getElementById("admin");
                    var act2 = document.getElementById("startup");
                    var act3 = document.getElementById("dashboard");
                    var act4 = document.getElementById("queries");
                    act.classList.add("active");
                    act1.classList.remove("active");
                    act2.classList.remove("active");
                    act3.classList.remove("active");
                    act4.classList.remove("active");
                    localStorage.clear()
                }

                else if (value == 'queries') {
                    var act1 = document.getElementById("admin");
                    var act2 = document.getElementById("startup");
                    var act3 = document.getElementById("dashboard");
                    var act4 = document.getElementById("blogPost");
                    act.classList.add("active");
                    act1.classList.remove("active");
                    act2.classList.remove("active");
                    act3.classList.remove("active");
                    act4.classList.remove("active");
                    localStorage.clear()
                }
            </script>
            {% block js %}{% endblock %}

</body>

</html>