<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'blog/blog_css.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'dashboard/css/startup.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'monitor/css/cardstyle.css' %}" />

    <!-- Custom fonts for this template-->
    <link href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet">


    <style>
        .specific-img{
            width:250px;
            height: 250px;
        }
        .course-preview h6,
        .course-preview h2 {
            color: white;
        }
        @media only screen and (max-width: 768px) {
            .specific-img{
            width:150px;
            height: 150px;
        }
        #v-pills-profile > div > section.hero-section > div > div > h2{
            font-size: 2rem;
        }
        }

        @media screen and (max-width: 400px) {
            .course-preview {
                height: 100px;
                width: 120px;
            }

            .course-preview h6 {
                font-size: 10px;
                color: white;
                margin-left: -8px;
            }

            .course-preview h2 {
                font-size: 12px;
                color: white;
                font-weight: bold;
                margin-left: -8px;
            }

            .course-info {
                height: 100px;

            }

            .course-info h6 {
                font-size: 8px;
                color: black;
                margin-left: -15px;

                margin-top: -10px;
                margin-bottom: 15px;
            }

            .course-info h2 {
                font-size: 12px;
                color: black;
                font-weight: bold;
                margin-left: -15px;

                margin-top: -10px;
            }

            .btn1 {
                height: 20px;
                width: 90px;
                font-size: 8px;
                padding: 4px;
                font-weight: bold;
                float: right;
                text-align: center;
                position: absolute;
                bottom: 5px;
                right: 7px;
            }

        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-home"></i>
                </div>
                <div class="sidebar-brand-text mx-3">AIC-NITF</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            {% if user.is_superadmin %}
            <!-- Nav Item - Dashboard -->
            <li id="dashboard" class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item check">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                        role="tab" aria-controls="v-pills-profile" aria-selected="true"><i
                            class="fas fa-fw fa-user-circle"></i> Profile</a>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading">
                        Report
                    </div>

                    <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Monotor Report</span>
                      </a>
                      
                      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                          <h6 class="collapse-header">Custom Utilities:</h6>
                          <a class="collapse-item nav" id="v-pills-monitor-tab" data-toggle="pill" href="#v-pills-monitor" role="tab"
                          aria-controls="v-pills-monitor" aria-selected="false"><i class="fas fa-fw fa-paste"></i> Monitor
                          Sheet</a>
                          <a class="collapse-item nav" id="v-pills-monitor-form-tab" data-toggle="pill" href="#v-pills-monitor-form" role="tab"
                          aria-controls="v-pills-monitor-form" aria-selected="false"><i class="fas fa-fw fa-paste"></i> Monitor
                          Form</a>
                        </div>
                      </div> -->


                    <a class="nav-link" id="v-pills-monitor-tab" data-toggle="pill" href="#v-pills-monitor" role="tab"
                        aria-controls="v-pills-monitor" aria-selected="false"><i class="fas fa-fw fa-paste"></i> Monitor
                        Sheet</a>
                    <!-- <a class="nav-link" id="v-pills-traction-tab" data-toggle="pill" href="#v-pills-traction" role="tab"
                        aria-controls="v-pills-traction" aria-selected="false"><i class="fas fa-fw fa-sticky-note"></i>
                        Traction Sheet</a> -->
                    <a class="nav-link" id="v-pills-minute-tab" data-toggle="pill" href="#v-pills-minute" role="tab"
                        aria-controls="v-pills-minute" aria-selected="false"><i class="fas fa-fw fa-handshake"></i>
                        Minute Of Meeting</a>
                    {% if user.is_superadmin != True and user.is_admin != True%}
                    <a class="nav-link" id="v-pills-blogPost-tab" data-toggle="pill" href="#v-pills-blogPost" role="tab"
                        aria-controls="v-pills-blogPost" aria-selected="false"><i class="fas fa-fw fa-blog"></i>
                        Blog Post</a>
                    {% endif %}
                </div>
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>

        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <!-- <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">



                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow float-right">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}</span>
                                {% if user.is_admin %}
                                {% for imgsrc in  user.admin_set.all %}
                                <img class="img-profile rounded-circle" src="{{imgsrc.admin_img.url}}">
                                {% endfor %}
                                {% else %}
                                <img class="img-profile rounded-circle" src="{{value.startup_img.url}}">
                                {% endif %}
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <!-- <a class="dropdown-item" href="{% url 'userprofile' pk=user.pk %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a> 
                                <div class="dropdown-divider"></div>-->
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">

                            <!-- <div id="preloder">
                                <div class="loader"></div>
                            </div> -->

                            <div class="home-five-style">
                                <!-- Header section start -->


                                {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>{{message}}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endfor %}

                                <header class="header-section">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="site-logo">
                                                    <h2><a href="#">Profile</a></h2>
                                                </div>
                                            </div>
                                            {% if user.is_superadmin %}
                                            <div class="col-md-5 offset-md-2">
                                                <a class="float-right" title="edit employee"
                                                    href="{% url 'startup_profile_edit' pk=value.pk %}"><i
                                                        class="fas fa-edit fa-lg"></i></a>
                                            </div>
                                            {% elif user.is_startup %}
                                            <div class="col-md-5 offset-md-2">
                                                <a class="float-right add_team" id="add{{user.pk}}" title="add team" data-toggle="modal"
                                                    data-target="#addnewteam" href=""><i
                                                        class="fas fa-user-plus fa-lg"></i></a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </header>
                                <!-- Header section end -->

                                <!-- Hero section start -->
                                <section class="hero-section">
                                    <div class="container-fluid text-center">
                                        <img class="specific-img" src="{{value.startup_img.url}}" alt="">
                                        <div class="hero-text">
                                            <h2>{{value.startup_name}}</h2>
                                        </div>
                                    </div>
                                </section>
                                <!-- Hero section end -->

                                <!-- Resume section start -->
                                <section class="resume-section with-bg spad">
                                    <div class="container-fluid">
                                        <center>
                                            <h2 style="margin-bottom: 50px;">General Info</h2>
                                        </center>
                                        <div class="row">

                                            <div class="col-md-5">

                                                <div class="hero-info">
                                                    <ul>
                                                        <li><span>Name of Legal Entity : </span>{{value.legal_entity}}
                                                        </li>
                                                        <li><span>Team Head Or Founder : </span>{{value.team_head}}
                                                        </li>
                                                        <li><span>Founder's Designation :
                                                            </span>{{value.founders_designation}}</li>
                                                        <li><span>Company Identification Number (CIN) :
                                                            </span>{{value.comp_identification_no}}</li>
                                                        <li><span>Operational Model :</span>{{value.operational_model}}
                                                        </li>
                                                        <li><span>Women Led Startup : </span>{{value.women_led_startup}}
                                                        </li>
                                                        <li><span>MSME registered : </span>{{value.msme_registered}}
                                                        </li>
                                                        <li><span>E-mail : </span>{{value.email}}</li>
                                                        <li><span>Phone : </span>{{value.contact_no}}</li>
                                                        <li><span>Web Address : </span>{{value.website}}</li>
                                                        <li><span>City : </span>{{value.city}}</li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="col-md-5 offset-sm-2">
                                                <div class="hero-info">
                                                    <ul>
                                                        <li><span>Date of Registration of the legal entity of the startup :
                                                            </span>{{value.legal_entity_register}}</li>
                                                        <li><span>Sector : </span>{{value.sector}}</li>
                                                        <li><span>Current level of Incubatee
                                                                :</span>{{value.inubatee_level}}</li>
                                                        <li><span>Start Date of the Incubation : </span>{{value.start_date_incubation}}
                                                        </li>
                                                        <li><span>Type of Incubatee : </span>{{value.type_of_incubatee}}
                                                        </li>
                                                        <li><span>Team Members & roles : </span>{{value.team_members}}
                                                        </li>
                                                        <li><span>DIPP registered : </span>{{value.dspp_registered}}
                                                        </li>
                                                        <li><span>Startup working towards any of the flagship government
                                                                programmes :</span>{{value.gov_program}}</li>
                                                        <li><span>Current Location(working) : </span>{{value.location}}
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div style="width: 100%; border-bottom: 3px solid black; margin: 10px 0;">
                                            </div>
                                        </div>
                                        <div>
                                            <h3>Our Team Members</h3>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col">SLNO</th>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Designation</th>
                                                        <th scope="col">Gender</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Contact No.</th>
                                                        {% if user.is_startup %}
                                                        <th scope="col">Edit/Delete</th>
                                                        {% endif %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for member in members %}
                                                    <tr>
                                                        <th scope="row">{{forloop.counter}}</th>
                                                        <td id="name{{member.pk}}">{{member.name}}</td>
                                                        <td id="designation{{member.pk}}">{{member.designation}}</td>
                                                        <td id="gender{{member.pk}}">{{member.gender}}</td>
                                                        <td id="email{{member.pk}}">{{member.email}}</td>
                                                        <td id="contact_no{{member.pk}}">{{member.contact_no}}</td>
                                                        {% if user.is_startup %}
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <a class="btn edit_team" id="edit{{member.pk}}"
                                                                    data-toggle="modal" data-target="#editmodel"><i
                                                                        class="fas fa-edit fa-lg"></i></a>
                                                                <a id="delete{{member.pk}}" class="btn delete_btn"
                                                                    data-toggle="modal" data-target="#deletemodal"><i
                                                                        class="fas fa-trash fa-lg"></i></a>
                                                            </div>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </section>

                                <!--add team member-->
                                <div class="modal fade" id="addnewteam" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle"
                                                    style="font-weight:bold;color:tomato;">Add New
                                                    Team Member</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="POST" action="{% url 'add_new_team_member' %}">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="inputName4">Name</label>
                                                        <input required type="text" name="name" class="form-control"
                                                            id="inputName4" placeholder="Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputDesignation4">Designation/Post</label>
                                                        <input required type="text" name="designation"
                                                            class="form-control" id="inputDesignation4"
                                                            placeholder="Designation">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputDIPPRegistration4"
                                                            style="margin-right: 5%;">Gender</label><br>
                                                        <select required name="gender" class="custom-select col-md-12">
                                                            <option selected="selected" disabled>Choose From below:
                                                            </option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Others">Others</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputEmail4">Email</label>
                                                        <input required type="text" name="email" class="form-control"
                                                            id="inputEmail4" placeholder="Email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputContactNo4">Contact No.</label>
                                                        <input required type="text" name="contact" class="form-control"
                                                            id="inputContactNo4" placeholder="Contact No.">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal fade" id="editmodel" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">

                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"
                                                    style="font-weight:bold;color:tomato;">Edit Employee Form</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="POST" action="{% url 'edit_team_member' %}">{% csrf_token %}
                                                <input type="hidden" class="" name="" id="">
                                                <div class="modal-body">
                                                    <input type="hidden" id="pk_val" name="pk_val" value="">
                                                    <div class="form-group">
                                                        <label for="inputDesignation14">Designation</label>
                                                        <input type="text" name="designation" class="form-control"
                                                            id="inputDesignation14" placeholder="Designation">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputEmail14">Email</label>
                                                        <input type="text" name="email" class="form-control"
                                                            id="inputEmail14" placeholder="Employee Id">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputContactNo14">Contact No.</label>
                                                        <input type="text" name="contact" class="form-control"
                                                            id="inputContactNo14" placeholder="Contact No.">
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                                <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">

                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Delete Employee
                                                    Details
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="POST" action="{% url 'delete_team_member' %}">{% csrf_token %}
                                                <div class="modal-body">
                                                    <input type="hidden" id="foo" name="foo" />
                                                    <center><label for="inputDelete">Are You Sure You Want To Delete The
                                                            Details ? ? ?</label><br>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </center>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <!--monitor sheet -->
                        <div class="tab-pane fade" id="v-pills-monitor" role="tabpanel"
                            aria-labelledby="v-pills-monitor-tab">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h3 style="text-align: center;font-weight: bold;">Monitor sheet</h3>
                                {% if user.is_startup %}
                                <a href="{% url 'monitor_form' %}"
                                    class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                        class="fas fa-download fa-sm text-white-50"></i> Generate Monitor Report</a>
                                {% endif %}
                            </div>
                            {% for value in values %}
                            <div class="courses-container">
                                <div class="course">
                                    <div class="course-preview">
                                        <h2>Month {{ forloop.revcounter }}</h2>
                                    </div>
                                    <div class="course-info">
                                        <h2>Monitor Sheet{{ forloop.revcounter }}</h2>
                                        <h6>{{value.date_of_filling}}</h6>
                                        <a href="{% url 'monitor_report' pk=value.pk %}" class="btn1">View Report</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Monitor Sheet End -->
                        
                        <div class="tab-pane fade" id="v-pills-minute" role="tabpanel"
                            aria-labelledby="v-pills-minute-tab">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h3>Minute Of Meeting</h3>
                                {% if user.is_superadmin == True or user.is_startup %}
                                <a href="#"
                                    class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                                    data-target="#sendMoM"><i class="fas fa-download fa-sm text-white-50"></i> Send
                                    MoM</a>
                                {% endif %}
                            </div>

                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-receved-tab" data-toggle="pill"
                                        href="#pills-receved" role="tab" aria-controls="pills-receved"
                                        aria-selected="true">Receved</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-send-tab" data-toggle="pill" href="#pills-send"
                                        role="tab" aria-controls="pills-send" aria-selected="false">Send</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-receved" role="tabpanel"
                                    aria-labelledby="pills-receved-tab">

                                    <div class="table-responsive-lg">
                                        <table class="table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">SlNo</th>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">From</th>
                                                    <th scope="col">To</th>
                                                    <th scope="col">Receved Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for receve in receving %}
                                                <tr>
                                                    <th scope="row">{{forloop.counter}}</th>
                                                    <td><a href="" data-toggle="modal"
                                                            data-target="#receveDisplay{{receve.pk}}"
                                                            style="text-decoration: none; color: #6f6f70; font-weight: bold;">{{receve.title}}</a>
                                                    </td>
                                                    <td>{{receve.from_user}}</td>
                                                    <td>{{receve.to.fullname}}</td>
                                                    <td>{{receve.date_of_creation}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                                <div class="tab-pane fade" id="pills-send" role="tabpanel"
                                    aria-labelledby="pills-send-tab">

                                    <div class="table-responsive-lg">
                                        <table class="table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">SlNo</th>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">From</th>
                                                    <th scope="col">To</th>
                                                    <th scope="col">Send Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for send in sendings %}
                                                <tr>
                                                    <th scope="row">{{forloop.counter}}</th>
                                                    <td>
                                                        <a href="" data-toggle="modal"
                                                            data-target="#sendDisplay{{send.pk}}"
                                                            style="text-decoration: none; color: #6f6f70; font-weight: bold;">{{send.title}}</a>
                                                    </td>
                                                    <td>{{send.from_user}}</td>
                                                    <td>{{send.to.fullname}}</td>
                                                    <td>{{send.date_of_creation}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-blogPost" role="tabpanel"
                            aria-labelledby="v-pills-blogPost-tab">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h3 style="text-align: center;font-weight: bold;">BlogPost</h3>
                            </div>

                            <!-- BLOG POST-->
                            {% for post in posts %}
                            <article class="single-tour"><img src="{{post.blog_img.url}}"
                                    alt="Best of Paris in 7 Days Tour">
                                <footer>
                                    <div class="tour-info">
                                        <h4>{{post.title}}</h4>
                                        <small>{{post.date_of_creation}}</small>
                                    </div>
                                    <p>{{post.description|slice:":255"}} ... <a href="" data-toggle="modal"
                                            data-target="#post{{post.pk}}"> read
                                            more</a></p>
                                </footer>
                            </article>
                            {% endfor %}

                        </div>



                    </div>
                </div>
                <!-- End of Content Wrapper -->
            </div>
            <!-- End of Page Wrapper -->

            <!-- Modal -->
            <div class="modal fade" id="sendMoM" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Send MoM</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="{% url 'send_mom' %}" enctype="multipart/form-data">{% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="inputFrom">From</label>
                                    <select id="inputFrom" name="from" class="form-control">
                                        <option selected value="{{user.pk}}">{{user.fullname}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputTo">To</label>
                                    <select id="inputTo" name="to" class="form-control">
                                        {% if user.is_superadmin %}
                                        <option selected value="{{value.account.pk}}">{{value.account.fullname}}
                                        </option>
                                        {% else %}
                                        <option selected value="{{account.pk}}">{{account.fullname}}</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputTitle4">Title</label>
                                    <input required type="text" name="title" class="form-control" id="inputTitle4"
                                        placeholder="Work title">
                                </div>
                                <div class="form-group">
                                    <label for="inputWorkDescription">Description</label>
                                    <textarea required class="form-control" name="description" id="inputWorkDescription"
                                        rows="3" placeholder="Description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormDocument">Upload File</label>
                                    <input required type="file" name="document" class="form-control-file"
                                        id="exampleFormDocument">
                                </div>



                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">send</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end of send mom-->
            <!--display receved mom-->
            {% for receve in receving %}
            <div class="modal fade" id="receveDisplay{{receve.pk}}" data-backdrop="static" data-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="display: inline-block; padding-bottom: 0; ">
                            <h5 style="margin-bottom: 0; font-weight:bold;color:tomato;" id="staticBackdropLabel">
                                Receved MoM</h5>
                            <button type="button" style="position: absolute; top: 15px; right: 15px;" class="close"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="inputTitle4">Title</label>
                                <label hidden id="title{{receve.pk}}">{{receve.title}}</label>
                                <input type="text" disabled value="{{receve.title}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputWorkDescription">Description</label>
                                <textarea class="form-control" name="work_description" disabled
                                    id="Description{{receve.pk}}" rows="3">{{receve.description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormDocument">{{receve.document}}</label><br>
                                <a href="{{receve.document.url}}" class="btn btn-primary"
                                    download="{{receve.document.url}}">download</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--end of Display Receved mom -->
            <!--Display of send mom -->
            {% for send in sendings %}
            <div class="modal fade" id="sendDisplay{{send.pk}}" data-backdrop="static" data-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="display: inline-block; padding-bottom: 0; ">
                            <h5 style="margin-bottom: 0; font-weight:bold;color:tomato;" id="staticBackdropLabel">Send
                                MoM</h5>
                            <button type="button" style="position: absolute; top: 15px; right: 15px;" class="close"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="inputTitle4">Title</label>
                                <label hidden id="title1{{send.pk}}">{{send.title}}</label>
                                <input type="text" disabled value="{{send.title}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Description</label>
                                <textarea class="form-control" name="description" disabled id="Description1{{send.pk}}"
                                    rows="3">{{send.description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormDocument">{{send.document}}</label><br>
                                <a href="{{send.document.url}}" class="btn btn-primary"
                                    download="{{send.document.url}}">download</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--end of Display send MoM -->

            {% for post in posts %}
            <!-- display blog model Model-->
            <div class="modal fade" id="post{{post.pk}}" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="display: inline-block; padding-bottom: 0; ">
                            <h5 class="modal-title" id="staticBackdropLabel">Blog Post</h5>
                            <small>{{post.date_of_creation}}</small>
                            <button type="button" style="position: absolute; top: 15px; right: 15px;" class="close"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <img src="{{post.blog_img.url}}" width="100%" alt="">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="inputTitle4">Title</label>
                                <input type="text" name="title" class="form-control" disabled value="{{post.title}}"
                                    placeholder="title">
                            </div>
                            <div class="form-group">
                                <label for="inputWorkDescription">Description</label>
                                <textarea disabled class="form-control" name="description" rows="10"
                                    placeholder="Description">{{post.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--end display blog Model-->


            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap core JavaScript-->
            <!-- <script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script> -->
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <!-- <script src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script> -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
            <!-- <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->


            <!-- Core plugin JavaScript-->
            <!-- <script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script> -->

            <!-- Custom scripts for all pages-->
            <script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>


            <script src="{% static 'profile/js/main.js' %}"></script>
            <script>

                $(".edit_team").on("click", function () {

                    id = this.id;
                    pk = id.slice(4,);

                    des_id = "#designation" + pk;
                    designation = $(des_id).text();
                    
                    $("#inputDesignation14").val(designation);
                    email_id = "#email" + pk;
                    email = $(email_id).text();
                    $("#inputEmail14").val(email);
                    contact_id = "#contact_no" + pk;
                    contact = $(contact_id).text();
                    $("#inputContactNo14").val(contact);

                    $("#pk_val").val(pk);
                });
                $('.delete_btn').on('click', function () {
                    
                    var idstr = this.id.slice(6,);
                    
                    $('#foo').val(idstr)
                });
            </script>


</body>

</html>