{% extends 'base_app.html' %}
{% block head %}Eligibility{% endblock %}
{% block content %}
<h1 class="mt-2" style="text-align: center; font-size: 3rem">Eligibility</h1>
<div class="container">
    <p>Anantya - Women Entrepreneurship Awards 2021 is to recognise Women entrepreneurs who belongs to the state of Odisha or whose enterprise is situated in Odisha</p>	
<p>The awards shall have following three categories: </p>
<ol>
    <li>Excellence Awards:</li>
    <ul>
        <li>The incorporation age of enterprise should be more than 10 years and with an annual turnover of more than 10 crores.</li>
    </ul>

    <li>Leadership Awards:</li>
    <ul>
        <li>The incorporation age of enterprise should be more than 5 years and with an annual turnover of more than 1 crore.</li>
    </ul>



    <li>Rising Startup Awards:</li>
    <ul>
        <li>Startups at any stage of operation are eligible to apply for the recognition.</li>
    </ul>
</ol>

<p>There is no age and qualification based criteria for the applicants.</p>	 

</div>

{% endblock %}